{% extends 'cuentas/padreh.html' %}
{% load static %}


{%block content%}
<div class="container h-55">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card border-0 text-center"
            style="width: 700px; background-color: transparent;">
            <div style="flex-direction: row;">
                <img src="{% static 'images/abtme.jpg' %}" class="card-img-top rounded" alt="Card image cap"
                    style="border-radius: 5rem!important; width: 50%;">
            </div>
            <div class="card-body">
                <h1>Acerca de mi</h1>

            </div>


        </div>
    </div>
</div>
{%endblock%}