{% extends 'cuentas/main.html' %}

{% block content %}

{% if user.id == post.author.id %}
<div class="container">
    <div class="text-center">
        <h1>Estas a punto de eliminar: </h1>
        <h1>{{post.titulo}}</h1>
        <br />
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}

                <a class="btn btn-secondary" href="{% url 'posts:blog' %}">Cancelar</a>
                <button type="submit" class="btn btn-secondary">Eliminar</button>

            </form>
        </div>
    </div>
</div>
{% else %}
 <h1>No se te permite ver esta pagina</h1>
 {% endif %}

{% endblock %}